main {
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
}

main ul {
  display: grid;
  gap: 10px;
  list-style: none;
}

@media (max-width: 600px) {
  main ul {
    grid-template-columns: 1fr;
  }
}
